<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>HB</h1>
            <h1>Restaurantes</h1>
            <h1>Sedes</h1>
        </header>
    </body>
</html>
